@import "utils.css";

html, body {
  font-size: 1em;
  font-family: sans-serif;
  line-height: 2;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.custom-track .simplebar-track.simplebar-vertical,
.custom-track .simplebar-track.simplebar-horizontal {
  background: rgba(200,200,200,.5);
}
