/* tailwindcss syntax */

.m-2 {
  margin: 4px;
}

.mt-4 {
  margin-top: 8px;
}

.mt-8 {
  margin-top: 16px;
}

.mt-10 {
  margin-top: 20px;
}

.mb-8 {
  margin-bottom: 16px;
}

.mr-8 {
  margin-right: 16px;
}

.mx-8 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-2 {
  padding: 4px;
}

.p-4 {
  padding: 8px;
}

.p-8 {
  padding: 16px;
}

.w-10 {
  width: 50px;
}

.w-1\/3 {
  width: 33%;
}

.w-full {
  width: 100%;
}

.max-w-screen-md {
  max-width: 768px;
}

.h-1\/3 {
  height: 33%;
}

.h-400 {
  height: 400px;
}

.h-screen {
  height: 100vh;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-inner {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.relative {
  position: relative;
}

.bg-gray-200 {
  background-color: #fcfcfc;
}
